
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Vidaloka&display=swap');
body{
    font-family: 'Lora', serif;
}
.cotacao h1{
    position:relative;
    left:2%;
    font-family: 'Vidaloka', serif;
    font-size:4.3rem;

}

.card{
    display:flex;
    width:46.813rem;
    height:fit-content;
    justify-content: space-around;
    background-color:#FFE6C1;
    margin:20px;
    border-radius:10px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.card p{
    font-size:1.5rem;
    color:#00000050;
}

.info{
    display:block;
    text-align:right;
}

.moeda-nome{
    font-size:1.5rem;
}

.gradiente{
    width:100%;
    height:2.438rem;
    background-color:red;
}