
#nav-icon2{
    width: 2.813rem;
    height: 3.75rem;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 0.563rem;
    width: 50%;
    background: black;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 0.563rem 0 0 0.563rem;
  }
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 0.563rem 0.563rem 0;
  }

  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 1.125rem;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 2.25rem;
  }

  #nav-menu2:hover ~label> #nav-icon2 span:nth-child(1),#nav-menu2:hover ~label> #nav-icon2 span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-menu2:hover ~ label>#nav-icon2 span:nth-child(2),#nav-menu2:hover ~ label> #nav-icon2 span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-menu2:hover ~ label>#nav-icon2 span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-menu2:hover ~ label>#nav-icon2 span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-menu2:hover ~ label>#nav-icon2 span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-menu2:hover ~label> #nav-icon2 span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  #nav-menu2:hover ~ label>#nav-icon2 span:nth-child(5) {
    left: 0.313rem;
    top: 1.813rem;
  }
  
  #nav-menu2:hover ~label> #nav-icon2 span:nth-child(6) {
    left: calc(50% - 5px);
    top: 1.813rem;
  }

  #nav-menu2{
    
    display:none;
  }

  

  .icon_menu{
      position:relative;
      margin-top:0.5rem;
      margin-left:0.2rem;
      height:20%;
      width:100%;
      padding-top:4.39453125%;
      z-index: 9999;
      bottom:20%;
  }
  .menu{
    position:relative;
      height:20.3125%;
      width:fit-content;
      padding:0.5%;
      background:#00000000;
      overflow:hidden;
      box-sizing:border-box;
      margin-top:2.5%;
      right:30%;
      border: 1px solid #000000;
      border-radius:10px;
     
  }
  .hidden-menu{
    display:none;
    position:relative;
      height:fit-content;
      width:100%;
      
      padding:0px;

  }
ul{
    
    padding:0px;
    list-style-type: none;
    width:100%;
}

li{ 
    font-size:1.375rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:.5rem;
    height:2.75rem;
    width:20.313rem;
    background:#FFCB7C;
    border-radius:10px;

}

a{
    text-decoration:none;
    color:black;
}
  .op_menu{
    
    margin-top:10%;
    float:bottom;
    height:fit-content;
    width:100%;
    background:yellow;
    margin-bottom:0.5%;
  }

  .menu:hover .hidden-menu{
      display:block;
  }